<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/yshalsager/" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x" style="color: #181717;"></i><i
                                    class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://gitlab.com/yshalsager/" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x" style="color: #FCA121;"></i><i
                                    class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://linkedin.com/in/yshalsager/" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x" style="color: #0077B5;"></i><i
                                    class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/yshalsager" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x" style="color: #1DA1F2;"></i><i
                                    class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://t.me/yshalsager" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x" style="color: #0088CC;"></i><i
                                    class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="mailto:ysh.alsager@hotmail.com" target="_blank">
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x" style="color: #C14438;"></i><i
                                    class="fas fa-at fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <a rel="me" href="https://fosstodon.org/@yshalsager" style="display: none;">Mastodon</a>
                </ul>
                <p class="copyright text-muted">{{ _('Copyright &copy; yshalsager') }}</p>
            </div>
        </div>
    </div>
</footer>
