<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top is-fixed" id="mainNav">
    <div class="container-fluid">

        <a class="navbar-brand" style="display: contents;" href="/{{ lang }}/">
            <img class="img-fluid mx-3" src="{{ url_for('static', filename='img/logo.svg')}}" alt="logo"
                 style="width: 48px; height: 48px;"/><span class="d-none d-xl-block" style="white-space:nowrap">{{ _('yshalsager') }}</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/{{ lang }}/">{{ _('Home') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ lang }}/about">{{ _('About') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ lang }}/blog">{{ _('Blog') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ lang }}/projects">{{ _('Projects') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/{{ lang }}/contact">{{ _('Contact') }}</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="btn dropdown-toggle">
                            {{ _('Language') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width: inherit;">
                            <a class="dropdown-item" href="/ar/">{{ _('Arabic') }}</a>
                            <a class="dropdown-item" href="/en/">{{ _('English') }}</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>