{% extends "base.html" %}

{% block title %}{{heading}}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>{{ _('Hi there! I\'m Youssif (or better known as yshalsager on the internet), XiaomiFirmwareUpdater
                Project Lead
                Developer, XDA Recognized Developer, Self-taught Programmer, and trainee writer at Loghat El-asr
                magazine.') }}</p>
            <p>{{ _('I\'ve been coding in Python since 2018, mostly for web scraping, automation, chat bots, and
                building
                other cool <a href="/%(lang)s/projects">projects</a> (most of them are open-source and available on
                GitHub).<br/><br/>
                Also, I\'ve been tinkering with Android software development since 2014, building mods,
                custom recoveries, and custom ROMs for Android devices. You can find my android related works on <a
                        href="https://forum.xda-developers.com/member.php?u=6084385">XDA-Developers Forums</a>.',
                lang=lang)
                }}</p>
            <p>
                {{ _('You can checkout my projects <a href="/%(lang)s/projects">here</a>, and if you would like to contact me
                here\'s <a href="/%(lang)s/contact">how to reach me out</a>.', lang=lang) }}
            </p>
        </div>
    </div>
</div>
{% endblock %}