{% if lang == 'ar' %}
{% set body_class = 'rtl' %}
{% else %}
{% set lang = 'en' %}
{% set body_class = '' %}
{% endif %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %} lang={{lang}}{% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png" sizes="32x32">
    <link rel="icon" href="{{ url_for('static', filename='favicon-96x96.png') }}" type="image/png" sizes="96x96">
    <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}" type="image/png" sizes="16x16">
    {%- block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- block description %}
    <meta name="description" content="{% if lang == 'ar' %}مطور بايثون وكاتب/مترجم تقني.{% else %}Python Developer, XDA Recognized Developer, and Technical Translator/Writer.{% endif %}">
    {%- endblock description %}
    <meta name="author" content="yshalsager">
    {%- endblock metas %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block styles %}
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-rtl.min.css') }}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
          rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178397299-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-178397299-1');
    </script>
</head>
<body{% block body_attribs %}{% if body_class %} class={{body_class}}{% endif %}{% endblock body_attribs %}>
{% block body -%}
{% block navbar -%}
{% include 'includes/navbar.html' %}
{%- endblock navbar %}

{% block header -%}
<!-- Page Header -->
{% if heading %}
<header class="masthead text-center"
        style="{% if image %}background-image: url({{ image }}){% else %}background-color: #2a2a2a;{% endif %}">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ heading }}</h1>
                    {% if subheading %}<span class="subheading"> {{ subheading }} </span>{% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
{%- endblock header %}

{% block content -%}
<!-- Main Content -->
{%- endblock content %}

{% block linebreak -%}
<hr>
{%- endblock linebreak %}

{% block footer -%}
{% include 'includes/footer.html' %}
{%- endblock footer %}

{% block scripts -%}
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Custom scripts for this template -->
<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
{%- endblock scripts %}
{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}
