{% extends "base.html" %}
{% block title %}{{heading}}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <a href="/{{lang}}/blog/rss"><i class="fa fa-rss-square fa-2x dynamic-float" aria-hidden="true"></i></a>
            {% for post in posts %}
            <div class="post-preview">
                <a href="/{{lang}}/blog/{{post.file.stem}}">
                    <h2 class="post-title">
                        {{post.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{post.description}}
                    </h3>
                </a>
                <p class="post-meta">{{post.date}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary dynamic-float" href="#">{{ _('Older Posts') }} &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}