{% extends "base.html" %}
{% block title %}{{ _('Youssif Shaaban Alsager (yshalsager)') }}{% endblock %}

{% block header -%}
<!-- Page Header -->
<header class="masthead"
        style="{% if image %}background-image: url({{ image }}){% else %}background-color: #2a2a2a;{% endif %}">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ _('Hi, I\'m Youssif Shaaban Alsager.') }}</h1>
                    <h2 class="mt-4">{{ _('Python Developer, XDA Recognized Developer, and Technical
                        Translator/Writer.') }}</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block linebreak -%}{%- endblock linebreak %}