{% extends "base_rtl.html" %}

{% block title %}يوسف شعبان الصغير (yshalsager){% endblock %}

{% block header -%}
<!-- Page Header -->
<header class="masthead"
        style="background-color: #2a2a2a;">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: right;">
                    <h1>مرحبا!<br/>أنا يوسف شعبان الصغير</h1>
                    <h2 class="mt-4">مطور بايثون وكاتب تقني.</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block linebreak -%}{%- endblock linebreak %}