{% extends "base.html" %}
{% block html_attribs %}lang="en"{% endblock html_attribs %}

{% block title %}Youssif Shaaban Alsager (yshalsager){% endblock %}

{% block header -%}
<!-- Page Header -->
<header class="masthead"
        style="background-color: #2a2a2a;">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading" style="text-align: left;">
                    <h1>Hi, I'm Youssif Shaaban Alsager</h1>
                    <h3 class="mt-4">Python Developer, Open Source Enthusiast, and Technical Writer.</h3>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block linebreak -%}
{%- endblock linebreak %}