{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block header -%}
<!-- Page Header -->
<header class="masthead" style="background-color: #2a2a2a;">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 class="text-center">{{ title }}</h1>
                    <h2 class="subheading text-center">{{ description }}</h2>
                    <span class="meta">{{ date }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<!-- Post Content -->
<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ content|safe }}
            </div>
        </div>
    </div>
</article>
{% endblock %}

