{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{%- block description %}
<meta name="description" content="{{ description }}">
{%- endblock description %}

{% block header -%}
<!-- Page Header -->
<header class="masthead"
        style="{% if image %}background-image: url({{ image }}){% else %}background-color: #2a2a2a;{% endif %}">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 class="text-center">{{ title }}</h1>
                    {% if description|length < 100 %}
                    <h2 class="subheading text-center">{{ description }}</h2>
                    {% endif %}
                    <span class="meta">{{ date }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<!-- Post Content -->
<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ content|safe }}
            </div>
        </div>
    </div>
</article>
{% endblock %}

